<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>FHIR WebClient</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker3.min.css"
    />
    <link rel="stylesheet" href="./reset.css" />
    <link rel="stylesheet" href="./style.css" />
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.3"></script>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <!-- partial:index.partial.html -->
    <canvas></canvas>

    <div id="app" class="form-wrapper">
      <div class="form">
        <label for="search">Search for</label>
        <select
          id="search"
          v-model="model"
          @change="hasData=false;isClick=false;"
        >
          <option value="diabetes">Diabetes Model</option>
          <option value="qcsi">Quick Covid-19 Severity Index(qCSI)</option>
          <option value="rox">ROX Index</option>
        </select>

        <label for="patient">Patient ID:</label>
        <input
          type="text"
          id="patient"
          v-model="param_id"
          @keyup.enter="searchQuery"
          autocomplete="off"
        />
        <div class="result">
          <input type="button" value="Search it!" @click="searchQuery" />
        </div>
      </div>

      <div
        id="diabetes-model"
        class="form-result"
        v-if="model=='diabetes'&hasData"
      >
        <div id="diabetes-model-result">
          <label id="output">Model Output: </label>
          <h6>{{ predict_value }}</h6>
        </div>

        <label>Data source: </label>
        <div class="result">
          <label for="item">數據</label>
          <label for="date">數據時間</label>
          <label for="value">採集數值</label>
        </div>
        <hr />
        <div v-for="(item, key) in results">
          <div
            class="result"
            id="result_boolean"
            v-if="item.value === true || item.value === false"
          >
            <h6>{{ key }}</h6>
            <input
              type="date"
              id="datepicker"
              name="date"
              v-model="item.date"
            />
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label>
                <input
                  type="radio"
                  name="radio_bool"
                  :checked="item.value"
                  @click="radioclicks(key, true)"
                />
                True
              </label>
              <label>
                <input
                  type="radio"
                  name="radio_bool"
                  :checked="!item.value"
                  @click="radioclicks(key, false)"
                />
                False
              </label>
            </div>
          </div>
          <div class="result" id="result_textbox" v-else>
            <h6>{{ key }}</h6>
            <input
              type="date"
              id="datepicker"
              name="date"
              v-model="item.date"
            />
            <input
              type="text"
              name="data"
              v-model="item.value"
              @change="textchange"
            />
          </div>
        </div>

        <!-- <label id="result" v-for="(item, key) in results">
          {{ key }}, {{item.date}}, {{ item.value }}
        </label> -->
      </div>
      <div id="qcsi_model" class="form-result" v-if="model=='qcsi'&hasData">
        <div class="result" id="qCSI_rr">
          <h6>Respiratory Rate</h6>
          <input
            type="date"
            id="datepicker"
            name="date"
            v-model="results['respiratory rate']['date']"
          />
          <div
            class="btn-group"
            role="group"
            aria-label="Basic radio toggle button group"
          >
            <input
              type="radio"
              id="radio_qcsi_rr_1"
              class="btn-check"
              name="radio_qcsi_rr"
              autocomplete="off"
              @click="radioclicks('respiratory rate', 0)"
              :checked="results['respiratory rate']['value'] == 0"
            />
            <label class="btn btn-outline-primary" for="radio_qcsi_rr_1"
              >≤22</label
            >

            <input
              type="radio"
              id="radio_qcsi_rr_2"
              class="btn-check"
              name="radio_qcsi_rr"
              autocomplete="off"
              @click="radioclicks('respiratory rate', 1)"
              :checked="results['respiratory rate']['value'] == 1"
            />
            <label class="btn btn-outline-primary" for="radio_qcsi_rr_2"
              >23~28</label
            >

            <input
              type="radio"
              id="radio_qcsi_rr_3"
              class="btn-check"
              name="radio_qcsi_rr"
              autocomplete="off"
              @click="radioclicks('respiratory rate', 2)"
              :checked="results['respiratory rate']['value'] == 2"
            />
            <label class="btn btn-outline-primary" for="radio_qcsi_rr_3"
              >>28</label
            >
          </div>
        </div>
        <div class="result" id="qCSI_pulse">
          <h6>Pulse oximetry</h6>
          <input
            type="date"
            id="datepicker"
            name="date"
            v-model="results['pulse oximetry']['date']"
          />
          <div
            class="btn-group"
            role="group"
            aria-label="Basic radio toggle button group"
          >
            <input
              type="radio"
              id="radio_qcsi_pulse_1"
              class="btn-check"
              name="radio_qcsi_pulse"
              autocomplete="off"
              @click="radioclicks('pulse oximetry', 0)"
              :checked="results['pulse oximetry']['value'] == 0"
            />
            <label class="btn btn-outline-primary" for="radio_qcsi_pulse_1"
              >>92</label
            >

            <input
              type="radio"
              id="radio_qcsi_pulse_2"
              class="btn-check"
              name="radio_qcsi_pulse"
              autocomplete="off"
              @click="radioclicks('pulse oximetry', 2)"
              :checked="results['pulse oximetry']['value'] == 2"
            />
            <label class="btn btn-outline-primary" for="radio_qcsi_pulse_2"
              >89~92</label
            >

            <input
              type="radio"
              id="radio_qcsi_pulse_3"
              class="btn-check"
              name="radio_qcsi_pulse"
              autocomplete="off"
              @click="radioclicks('pulse oximetry', 5)"
              :checked="results['pulse oximetry']['value'] == 5"
            />
            <label class="btn btn-outline-primary" for="radio_qcsi_pulse_3"
              >≤88</label
            >
          </div>
        </div>
        <div class="result" id="qCSI_fr">
          <h6>O₂ flow rate</h6>
          <input
            type="date"
            id="datepicker"
            name="date"
            v-model="results['o2 flow rate']['date']"
          />
          <div
            class="btn-group"
            role="group"
            aria-label="Basic radio toggle button group"
          >
            <input
              type="radio"
              id="radio_qcsi_fr_1"
              class="btn-check"
              name="radio_qcsi_fr"
              autocomplete="off"
              @click="radioclicks('o2 flow rate', 0)"
              :checked="results['o2 flow rate']['value'] == 0"
            />
            <label class="btn btn-outline-primary" for="radio_qcsi_fr_1"
              >≤2L</label
            >

            <input
              type="radio"
              id="radio_qcsi_fr_2"
              class="btn-check"
              name="radio_qcsi_fr"
              autocomplete="off"
              @click="radioclicks('o2 flow rate', 4)"
              :checked="results['o2 flow rate']['value'] == 4"
            />
            <label class="btn btn-outline-primary" for="radio_qcsi_fr_2"
              >3~4L</label
            >

            <input
              type="radio"
              id="radio_qcsi_fr_3"
              class="btn-check"
              name="radio_qcsi_fr"
              autocomplete="off"
              @click="radioclicks('o2 flow rate', 5)"
              :checked="results['o2 flow rate']['value'] == 5"
            />
            <label class="btn btn-outline-primary" for="radio_qcsi_fr_3"
              >5~6L</label
            >
          </div>
        </div>

        <div id="evidence_qcsi_result">
          <div id="qcsi_info" class="tab">
            <button class="tablinks" onClick="openTab(event, 'Evidence_qcsi')">
              Evidence
            </button>
            <button class="tablinks" onClick="openTab(event, 'Result_qcsi')">
              Result
            </button>
          </div>
          <div id="Evidence_qcsi" class="tabcontent">
            <span
              onclick="this.parentElement.style.display='none'"
              class="topright"
              >&times</span
            >
            <div id="formula">
              <h2>Formula</h2>
              <div>
                <p>Addition of the selected points:</p>
                <table height="350">
                  <tbody>
                    <tr>
                      <td colspan="2">
                        <p><strong>Variable</strong></p>
                      </td>
                      <td><strong>Points</strong></td>
                    </tr>
                    <tr>
                      <td rowspan="3">
                        Repiratory rate, breaths/min<br /><br />
                      </td>
                      <td>
                        <p>≤22</p>
                      </td>
                      <td>0</td>
                    </tr>
                    <tr>
                      <td>
                        <p>23-28</p>
                      </td>
                      <td>1</td>
                    </tr>
                    <tr>
                      <td>
                        <p>&gt;28</p>
                      </td>
                      <td>2</td>
                    </tr>
                    <tr>
                      <td rowspan="3">Pulse oximetry*<br /><br /></td>
                      <td>
                        <p>&gt;92%</p>
                      </td>
                      <td>0</td>
                    </tr>
                    <tr>
                      <td>
                        <p>89-92%</p>
                      </td>
                      <td>2</td>
                    </tr>
                    <tr>
                      <td>
                        <p>≤88%</p>
                      </td>
                      <td>5</td>
                    </tr>
                    <tr>
                      <td rowspan="3">
                        O<sub>2</sub> flow rate, L/min<br /><br />
                      </td>
                      <td>
                        <p>≤2</p>
                      </td>
                      <td>0</td>
                    </tr>
                    <tr>
                      <td>
                        <p>3-4</p>
                      </td>
                      <td>4</td>
                    </tr>
                    <tr>
                      <td>
                        <p>5-6</p>
                      </td>
                      <td>5</td>
                    </tr>
                  </tbody>
                </table>
                <p>
                  *The lowest value recorded during the first four hours of the
                  patient encounter.
                </p>
              </div>
            </div>
          </div>

          <div id="Result_qcsi" class="tabcontent">
            <span
              onclick="this.parentElement.style.display='none'"
              class="topright"
              >&times</span
            >
            <h2>Result</h2>
            <p>{{ predict_value }}</p>
          </div>
        </div>
      </div>

      <div id="rox_model" class="form-result" v-if="model=='rox'&hasData">
        <div class="result" id="rox_pulse">
          <h6>SpO₂</h6>
          <input
            type="date"
            id="datepicker"
            name="date"
            v-model="results['spo2']['date']"
          />
          <input
            type="text"
            v-model="results['spo2']['value']"
            @change="textchange"
          />
        </div>
        <div class="result" id="rox_fr">
          <h6>FiO₂</h6>
          <input
            type="date"
            id="datepicker"
            name="date"
            v-model="results['fio2']['date']"
          />
          <input
            type="text"
            v-model="results['fio2']['value']"
            @change="textchange"
          />
        </div>
        <div class="result" id="rox_rr">
          <h6>Respiratory rate</h6>
          <input
            type="date"
            id="datepicker"
            name="date"
            v-model="results['respiratory rate']['date']"
          />
          <input
            type="text"
            v-model="results['respiratory rate']['value']"
            @change="textchange"
          />
        </div>

        <div id="evidence_result_rox">
          <div id="rox_info" class="tab">
            <button class="tablinks" onClick="openTab(event, 'Evidence_rox')">
              Evidence
            </button>
            <button class="tablinks" onClick="openTab(event, 'Result_rox')">
              Result
            </button>
          </div>
          <div id="Evidence_rox" class="tabcontent">
            <div id="formula">
              <h2>Formula</h2>
              <div>
                <p>
                  <span
                    id="docs-internal-guid-69c8677d-7fff-a7d4-e0d4-835056d73351"
                    >ROX Index = SpO₂/FiO₂*, % / Respiratory rate,
                    breaths/min</span
                  >
                </p>
                <p>&nbsp;</p>
                <p>*Estimating FiO₂ from oxygen flow/delivery rates:</p>
                <div dir="ltr" align="left">
                  <table>
                    <tbody>
                      <tr>
                        <td>
                          <p dir="ltr"><strong>Type of O₂ delivery</strong></p>
                        </td>
                        <td>
                          <p dir="ltr"><strong>Flow rates, L/min</strong></p>
                        </td>
                        <td>
                          <p dir="ltr"><strong>FiO₂</strong></p>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <p dir="ltr">Nasal cannula</p>
                        </td>
                        <td>
                          <p dir="ltr">1-6</p>
                        </td>
                        <td>
                          <p dir="ltr">
                            ~4% FiO₂ added above room air* per 1 L/min
                          </p>
                          <ul>
                            <li>Room air = 21%&nbsp;</li>
                            <li dir="ltr">
                              <p dir="ltr" role="presentation">1 L/min = 25%</p>
                            </li>
                            <li dir="ltr">
                              <p dir="ltr" role="presentation">2 L/min = 29%</p>
                            </li>
                            <li dir="ltr">
                              <p dir="ltr" role="presentation">3 L/min = 33%</p>
                            </li>
                            <li dir="ltr">
                              <p dir="ltr" role="presentation">4 L/min = 37%</p>
                            </li>
                            <li dir="ltr">
                              <p dir="ltr" role="presentation">5 L/min = 41%</p>
                            </li>
                            <li dir="ltr">
                              <p dir="ltr" role="presentation">6 L/min = 45%</p>
                            </li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <p dir="ltr">Simple face mask</p>
                        </td>
                        <td>
                          <p dir="ltr">~6-12</p>
                        </td>
                        <td>
                          <p dir="ltr">35-60%*</p>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <p dir="ltr">Non-rebreather mask</p>
                        </td>
                        <td>
                          <p dir="ltr">10-15</p>
                        </td>
                        <td>
                          <p dir="ltr">~70-90%</p>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <p dir="ltr">High-flow nasal cannula</p>
                        </td>
                        <td>
                          <p dir="ltr">Up to 60</p>
                        </td>
                        <td>
                          <p dir="ltr">30-100%</p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <p dir="ltr">
                  *Varies based on respiratory rate and minute ventilation.
                </p>
              </div>
            </div>
          </div>

          <div id="Result_rox" class="tabcontent">
            <h2>Result</h2>
            <p>{{ predict_value }}</p>
          </div>
        </div>
      </div>

      <div id="No_datas" v-show="isClick&!hasData">
        <label>No datas on this patient</label>
      </div>
    </div>
    <!-- partial -->
    <script>
      function openTab(evt, Name) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(Name).style.display = "block";
        evt.currentTarget.className += " active";
      }
    </script>
    <script src="./script.js"></script>
    <script src="./action.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
