aiohttp==3.7.4.post0
appdirs==1.4.4
async-timeout==3.0.1
attrs==21.2.0
autopep8==1.5.7
certifi==2020.12.5
chardet==4.0.0
click==8.0.0
colorama==0.4.4
distlib==0.3.1
dnspython==2.1.0
email-validator==1.1.2
fhir.resources==6.1.0
fhirpy==1.2.0
filelock==3.0.12
Flask==2.0.0
idna==2.10
itsdangerous==2.0.1
Jinja2==3.0.1
joblib==1.0.1
MarkupSafe==2.0.1
multidict==5.1.0
numpy==1.20.3
pandas==1.2.4
pycodestyle==2.7.0
pydantic==1.8.2
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
scikit-learn==0.24.2
scipy==1.6.3
six==1.16.0
sklearn==0.0
threadpoolctl==2.1.0
toml==0.10.2
typing-extensions==3.10.0.0
urllib3==1.26.4
virtualenv==20.4.6
Werkzeug==2.0.1
yarl==1.6.3
